# Resend
RESEND_API_KEY=
QUOTE_EMAIL_FROM="Garden Route Epoxy Flooring <quotes@gardenrouteepoxyflooring.co.za>"
QUOTE_EMAIL_TO=greflooring@gmail.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
